<div class="w-full flex items-center relative">
    <input type="text"
        class="py-2 px-3 pr-8 rounded-md text-zinc-100 placeholder:text-zinc-300 bg-zinc-900 w-full border-[1px] border-zinc-800 outline-none"
        [placeholder]="placeholder"
        [type]="isPasswordShown() === true ? 'text' : 'password'"
        [value]="value"
        [formControl]="control"
    >
    <div 
        class="absolute cursor-pointer translate-x-[340px]"
        (click)="showPassword()"
        >
        <i 
            [ngClass]="{
                'fa-solid text-white': true, 
                'fa-eye': isPasswordShown() == true,
                'fa-eye-slash': isPasswordShown() == false
            }"
        ></i>
    </div>
</div>