<main class="w-full h-screen flex justify-between items-center">
    <!-- FORM -->
    <div class="md:w-1/2 w-full tracking-tight login flex justify-center items-center">
        <!-- REGISTER -->
        <div class="flex flex-col gap-4">
            <div [ngClass]="{
                    'hidden': message == '',
                    'block': message != '',
                    'w-[400px]': true
                }">
                <app-result [message]="message" [type]="type"></app-result>
            </div>
            <!-- HEADER -->
            <div class="flex flex-col gap-1">
                <div class="text-white text-[2rem]">Login Your Business</div>
                <div class="text-zinc-300 text-[1rem]">Enter your credentials, or continue with social accounts.</div>
            </div>
            <!-- BODY -->
            <div class="flex flex-col gap-3">
                <!-- CREDENTIALS -->
                <div class="flex flex-col gap-6">
                    <form 
                        class="flex flex-col gap-4"
                        (ngSubmit)="submitForm()"
                    >
                        <!-- INPUTs -->
                        <div class="flex flex-col gap-2">
                            <!-- Email -->
                            <div>
                                <app-input [control]="getControl('email')" placeholder="bussiness@abc.com"></app-input>
                                <div *ngIf="email?.errors?.['required']" class="text-red-500">Email is Required!</div>
                                <div *ngIf="email?.errors?.['email']" class="text-red-500">Invalid Email!</div>
                            </div>
                            <!-- Password -->
                            <div>
                                <app-password-input [control]="getControl('password')" placeholder="**********" type="password"></app-password-input>
                                <div *ngIf="password?.errors?.['required']" class="text-red-500">Password is Required!
                                </div>
                                <div *ngIf="password?.errors?.['minlength']" class="text-red-500">Password must be
                                    atleast of 8 Characters!</div>
                            </div>
                        </div>
                        <!-- BUTTON -->
                        <div>
                            <app-button type="submit" text="Login"></app-button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- FOOTER -->
            <div class="text-zinc-200">If you haven't join us yet? <a href="/business/register"
                    class="text-blue-500 font-medium cursor-pointer hover:underline">Register Here</a>
            </div>
        </div>
    </div>
    <!-- SIDE -->
    <div class="w-1/2 h-[90%] border-l-[1px] hero border-zinc-400/20 md:flex hidden justify-center items-center">
        <div class="text-[8rem] font-semibold text-white leading-none text-center">Join Our Platform to Unlock an <span
                class="text-cyan-500">Experience</span></div>
    </div>
</main>