<div class="w-full flex flex-col justify-between gap-4 p-4">
    <div 
        [ngClass]="{
            'hidden': errorMessage == '',
            'block': true
        }"
        class="px-4 py-2 rounded-md bg-red-500 text-white">
        {{errorMessage}}
    </div>
    <!-- Header -->
    <div class="flex flex-col gap-2">
        <div class="text-[3rem] font-semibold text-zinc-50">{{projectData?.title}}</div>
        <div class="text-zinc-300">{{projectData?.description}}</div>
    </div>
    <!-- Buttons -->
    <div class="flex justify-between items-center">
        <div 
            class="text-blue-500 border-[1px] border-zinc-300/50 px-4 py-2 rounded-md flex flex-wrap gap-2">
            <div
                *ngFor="let member of members"
            >
                {{member.username + ", "}} 
            </div>
        </div>
    </div>
    <!-- Body -->
    <div class="w-full flex flex-col gap-4">
        <!-- Milestones -->
        <div class="flex flex-col gap-4">
            <app-user-milestone
                *ngFor="let milestone of milestones; index as i"
                [title]="milestone.title"
                [description]="milestone.description"
                [status]="milestone.status"
                [milestone]="milestone._id"
                [project]="milestone.project"
                [mielstoneNo]="i+1"
                (addTaskEmmiter)="ControlAddTaskButtonClick($event)"
            ></app-user-milestone>
        </div>
    </div>
    <!-- Footer -->
    <div></div>
</div>