<main class="w-full h-screen flex justify-between items-center">
    <!-- FORM -->
    <div class="md:w-1/2 w-full tracking-tight login flex justify-center items-center">
        <!-- REGISTER -->
        <div class="flex flex-col gap-4">
            <!-- HEADER -->
            <div class="flex flex-col gap-1">
                <div class="text-white text-[2rem]">Welcome Back</div>
                <div class="text-zinc-300 text-[1rem]">Enter your credentials, or continue with social accounts.</div>
            </div>
            <!-- BODY -->
            <div class="flex flex-col gap-3">
                <div class="flex flex-col gap-2">
                    <app-button
                        [isPrimary]="true"
                        text="Continue With Google"
                    ></app-button>
                    <app-button
                        [isPrimary]="true"
                        text="Continue With Github"
                    ></app-button>
                </div>
                <!-- OR -->
                <div class="flex justify-between items-center gap-1">
                    <div class="h-[0.5px] w-1/2 bg-zinc-100/40"></div>
                    <div class="text-white">OR</div>
                    <div class="h-[0.5px] w-1/2 bg-zinc-100/40"></div>
                </div>
                <!-- CREDENTIALS -->
                <div class="flex flex-col gap-6">
                    <!-- INPUTs -->
                    <div class="flex flex-col gap-2">
                        <!-- Email -->
                        <div>
                            <app-input placeholder="johndoe@john.com"></app-input>
                        </div>
                        <!-- Password -->
                        <div>
                            <app-password-input placeholder="**********" type="password"></app-password-input>
                        </div>
                    </div>
                    <!-- BUTTON -->
                    <div>
                        <app-button
                            text="Login"
                        ></app-button>
                    </div>
                </div>
            </div>
            <!-- FOOTER -->
            <div class="text-zinc-200">If you haven't join us yet? <span routerLink="/register" class="text-blue-500 font-medium cursor-pointer hover:underline">Register Here</span></div>
        </div>
    </div>
    <!-- SIDE -->
    <div class="w-1/2 h-[90%] border-l-[1px] hero border-zinc-400/20 md:flex hidden justify-center items-center">
        <div class="text-[8rem] font-semibold text-white leading-none text-center">Join Our Platform to Unlock an <span class="text-cyan-500">Experience</span></div>
    </div>
</main>