<div class="flex justify-center items-center">
    <!-- Form -->
    <div class="flex flex-col gap-8">
        <!-- HEADER -->
        <div class="flex flex-col gap-1">
            <div class="text-white text-[2rem]">Create a new project</div>
            <div class="text-zinc-300 text-[1rem]">Welcome! Create a New Project Here by filling below fields.</div>
        </div>
        <!-- BODY -->
        <form (ngSubmit)="submitForm()">
            <div class="flex flex-col gap-6">
                <div class="flex flex-col gap-2">
                    <!-- Title -->
                    <label class="text-zinc-100 font-medium">Title</label>
                    <app-input [control]="getControl('title')" placeholder="Website Deployment Management"></app-input>
                    <!-- Validators -->
                    <div class="text-red-500" *ngIf="title?.errors?.['required']">
                        Title is Required!
                    </div>
                    <div class="text-red-500" *ngIf="title?.errors?.['minlength']">
                        Title must be at least of 6 charachters!
                    </div>
                    <div class="text-red-500" *ngIf="title?.errors?.['maxlength']">
                        Title must not be more than 25 charachters!
                    </div>
                    <!-- Description -->
                    <label class="text-zinc-100 font-medium">Description</label>
                    <app-textarea [control]="getControl('description')"
                        placeholder="Description for the website deployment management project...">
                    </app-textarea>
                    <!-- Validators -->
                    <div class="text-red-500" *ngIf="description?.errors?.['required']">
                        Description is Required!
                    </div>
                    <div class="text-red-500" *ngIf="description?.errors?.['minlength']">
                        Description must be at least of 30 charachters!
                    </div>
                    <div class="text-red-500" *ngIf="description?.errors?.['maxlength']">
                        Description must not be more than 100 charachters!
                    </div>
                    <!-- Status -->
                    <label class="text-zinc-100 font-medium">Status</label>
                    <select
                        class="py-2 px-3 rounded-md text-zinc-100 placeholder:text-zinc-300 bg-zinc-900 w-full border-[1px] border-zinc-800 outline-none"
                        [formControl]="getControl('status')">
                        <option *ngFor="let option of staticStatus" [value]="option"
                            class="py-2 px-3 rounded-md text-zinc-100 placeholder:text-zinc-300 bg-zinc-900 w-full border-[1px] border-zinc-800 outline-none">
                            {{option}}
                        </option>
                    </select>
                    <!-- Priority -->
                    <label class="text-zinc-100 font-medium">Priority</label>
                    <select
                        class="py-2 px-3 rounded-md text-zinc-100 placeholder:text-zinc-300 bg-zinc-900 w-full border-[1px] border-zinc-800 outline-none"
                        [formControl]="getControl('priority')">
                        <option *ngFor="let option of staticPriority" [value]="option"
                            class="py-2 px-3 rounded-md text-zinc-100 placeholder:text-zinc-300 bg-zinc-900 w-full border-[1px] border-zinc-800 outline-none">
                            {{option}}
                        </option>
                    </select>
                    <!-- StartDate -->
                    <label class="text-zinc-100 font-medium">Start Date</label>
                    <app-input [control]="getControl('startDate')" type="date" placeholder="7/24/2025"></app-input>
                </div>
                <div [ngClass]="{
                    'hidden': message == '',
                    'block': message != '',
                    'w-[400px]': true
                }">
                    <app-result [message]="message" [type]="type"></app-result>
                </div>
                <div>
                    <app-button type="submit" text="Create Project"></app-button>
                </div>
            </div>
        </form>
        <!-- FOOTER -->
        <div class="text-zinc-200">
            If you face any problem during this process contact our team here. <span
                class="text-cyan-400 font-medium">infoworkleap&#64;workleap.com</span>
        </div>
    </div>
</div>